<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- External application configuration, 
      {0} is always replaced by the input file
      {1} is always replaced by the output file
      {2} is replaced by the stream number (if applicable)
      -->
    <add key='pathToMkvInfo' value='C:\Tools\MKVToolNix\mkvinfo.exe'/>
    <add key='mkvInfoParameters' value='"{0}" --ui-language en --output-charset UTF-8 -r "{1}"'/>
    <add key='mkvInfoTimeout' value='5'/>

    <add key='pathToMkvMerge' value='C:\Tools\MKVToolNix\mkvmerge.exe'/>
    <add key='mkvMergeParameters' value='-o "{1}" "{0}" --track-order {2}'/>
    <add key='mkvMergeTimeout' value='120'/>
    
    <add key='TempFolder' value='N:\tv-episodes\Rearrange'/>
  </appSettings>
</configuration>