<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- External application configuration, 
      {0} is always replaced by the input file
      {1} is always replaced by the output file
      {2} is replaced by the stream number (if applicable)
      -->
    <add key='pathToMkvInfo' value='C:\Tools\MKVToolNix\mkvinfo.exe'/>
    <add key='mkvInfoParameters' value='"{0}" --ui-language en --output-charset UTF-8 -r "{1}"'/> <!-- {0} input file, {1} output file-->
    <add key='mkvInfoTimeout' value='5'/>

    <add key='pathToFFMpeg' value='C:\Tools\ffmpeg\bin\ffmpeg.exe'/>
    <add key='ffMpegParameters' value='-i "{0}" -map 0:{1} -f wav -'/>  <!-- {0} input file, {1} stream number-->

    <add key='pathToNeroAacEnc' value='C:\Tools\Hybrid\neroAacEnc.exe'/>
    <add key='neroAacEncParameters' value='-ignorelength -if - -of "{0}"'/> <!-- We use std -q 0.5 setting, {0} output file -->
    <add key='transcodeTimeout' value='240'/>

    <add key='pathToMkvMerge' value='C:\Tools\MKVToolNix\mkvmerge.exe'/>
    <add key='mkvMergeTimeout' value='60'/>
    
    <!-- General application settings -->
    <add key='FlacCodecId' value='A_FLAC'/>
    <add key='TempFolder' value='D:\MovieWork\Temp'/>
  </appSettings>
</configuration>