<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- External application configuration, 
      {0} is always replaced by the input file
      {1} is always replaced by the output file
      {2} is replaced by the stream number (if applicable)
      -->
    <add key='pathToMkvInfo' value='C:\Tools\MKVToolNix\mkvinfo.exe'/>
    <add key='mkvInfoParameters' value='"{0}" --ui-language en --output-charset UTF-8 -r "{1}"'/>
    <add key='mkvInfoTimeout' value='5'/>

    <add key='pathToMkvExtract' value='C:\Tools\MKVToolNix\mkvextract.exe'/>
    <add key='mkvExtractParameters' value='tracks "{0}" {2}:"{1}"'/>
    <add key='mkvExtractTimeout' value='60'/>

    <add key='pathToFlac' value='C:\Tools\FLAC\flac.exe'/>
    <add key='flacParameters' value='"{0}" -d -F --delete-input-file -f -o "{1}"'/> <!-- The -F parameter here forces faulty flac streams to be handled as well, in my experience a faulty flac stream has never been a big deal.-->
    <add key='flacTimeout' value='120'/>

    <add key='pathToNeroAacEnc' value='C:\Tools\Hybrid\neroAacEnc.exe'/>
    <add key='neroAacEncParameters' value='-if "{0}" -of "{1}"'/> <!-- We use std -q 0.5 setting -->
    <add key='neroAacEncTimeout' value='180'/>

    <add key='pathToMkvMerge' value='C:\Tools\MKVToolNix\mkvmerge.exe'/>
    <add key='mkvMergeTimeout' value='60'/>
    
    <!-- General application settings -->
    <add key='FlacCodecId' value='A_FLAC'/>
    <add key='TempFolder' value='D:\MovieWork\Temp'/>
  </appSettings>
</configuration>